In [1]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.preprocessing import image
import numpy as np
import os
import matplotlib.image as mpimg
import matplotlib.pyplot as plt
from tqdm import tqdm
import pandas as pd

from sklearn.utils import shuffle

In [2]:
paths = {
    "train_leg": "turtle/train/leg/",
    "train_env": "turtle/train/enviornment/",
    "test_leg": "turtle/validation/leg/",
    "test_env": "turtle/validation/enviornment/"
}

In [3]:
def convert_image_to_array(image_path):
    tmp_image = image.load_img(image_path, target_size = (64, 64))
    tmp_image = image.img_to_array(tmp_image)
    tmp_image = tmp_image.flatten()
    
    return tmp_image

In [4]:
feature_set = {
    "train_leg": [],
    "train_env": [],
    "test_leg": [],
    "test_env": []
}

for key in (paths.keys()):
    print(f"Converting {key.upper()} right now!")
    
    for image_file in tqdm(os.listdir(paths[key])):
        img_path = paths[key] + image_file
        converted_image = convert_image_to_array(img_path)
        feature_set[key].append(converted_image)

  0%|          | 0/1250 [00:00<?, ?it/s]

Converting TRAIN_LEG right now!

100%|██████████| 1250/1250 [14:59<00:00,  1.39it/s]
  0%|          | 0/1250 [00:00<?, ?it/s]

Converting TRAIN_ENV right now!

100%|██████████| 1250/1250 [14:47<00:00,  1.41it/s]
  0%|          | 0/200 [00:00<?, ?it/s]

Converting TEST_LEG right now!

100%|██████████| 200/200 [02:23<00:00,  1.40it/s]
  0%|          | 0/200 [00:00<?, ?it/s]

Converting TEST_ENV right now!

100%|██████████| 200/200 [02:20<00:00,  1.42it/s]

In [5]:
train_set_leg = pd.DataFrame(np.array(feature_set['train_leg']))
train_set_env = pd.DataFrame(np.array(feature_set['train_env']))
test_set_leg = pd.DataFrame(np.array(feature_set['test_leg']))
test_set_env = pd.DataFrame(np.array(feature_set['test_env']))

In [6]:
train_set_leg['label'] = ([1] * len(train_set_leg))
train_set_env['label'] = ([0] * len(train_set_env))
test_set_leg['label'] = ([1] * len(test_set_leg))
test_set_env['label'] = ([0] * len(test_set_env))

In [7]:
train_set_leg.head()

,0,1,2,3,4,5,6,7,8,9,...,12279,12280,12281,12282,12283,12284,12285,12286,12287,label
0,208.0,221.0,230.0,209.0,222.0,231.0,207.0,222.0,229.0,207.0,...,69.0,82.0,88.0,52.0,65.0,73.0,35.0,48.0,56.0,1
1,124.0,151.0,180.0,167.0,208.0,236.0,162.0,206.0,231.0,170.0,...,91.0,170.0,201.0,84.0,152.0,187.0,111.0,184.0,217.0,1
2,41.0,66.0,88.0,48.0,70.0,93.0,51.0,69.0,93.0,200.0,...,51.0,106.0,127.0,107.0,161.0,187.0,87.0,131.0,156.0,1
3,114.0,154.0,203.0,112.0,152.0,203.0,109.0,153.0,202.0,106.0,...,67.0,74.0,82.0,1.0,8.0,18.0,23.0,26.0,35.0,1
4,51.0,62.0,80.0,47.0,55.0,74.0,39.0,51.0,65.0,41.0,...,9.0,18.0,0.0,95.0,119.0,21.0,156.0,155.0,101.0,1

In [8]:
train_set_env.head()

,0,1,2,3,4,5,6,7,8,9,...,12279,12280,12281,12282,12283,12284,12285,12286,12287,label
0,6.0,4.0,7.0,6.0,4.0,7.0,9.0,4.0,8.0,6.0,...,16.0,14.0,15.0,12.0,10.0,11.0,15.0,13.0,14.0,0
1,82.0,150.0,235.0,86.0,152.0,238.0,74.0,149.0,232.0,77.0,...,45.0,62.0,78.0,39.0,55.0,70.0,31.0,47.0,62.0,0
2,38.0,47.0,42.0,40.0,52.0,38.0,89.0,103.0,88.0,38.0,...,164.0,174.0,184.0,74.0,83.0,92.0,124.0,131.0,141.0,0
3,169.0,201.0,250.0,145.0,181.0,229.0,181.0,224.0,255.0,181.0,...,154.0,147.0,128.0,183.0,174.0,157.0,190.0,181.0,164.0,0
4,86.0,50.0,14.0,85.0,49.0,17.0,80.0,50.0,16.0,75.0,...,110.0,149.0,178.0,111.0,150.0,179.0,96.0,136.0,162.0,0

In [9]:
train_set = pd.concat([train_set_leg, train_set_env], axis = 0)

train_set = shuffle(train_set)

train_set.reset_index(inplace = True)
train_set.drop(['index'], axis = 1, inplace = True)

In [10]:
test_set = pd.concat([test_set_leg, test_set_env], axis = 0)

test_set = shuffle(test_set)

test_set.reset_index(inplace = True)
test_set.drop(['index'], axis = 1, inplace = True)

In [11]:
train_set

,0,1,2,3,4,5,6,7,8,9,...,12279,12280,12281,12282,12283,12284,12285,12286,12287,label
0,121.0,139.0,159.0,128.0,149.0,168.0,120.0,142.0,163.0,112.0,...,34.0,37.0,42.0,36.0,40.0,43.0,58.0,59.0,61.0,0
1,153.0,158.0,162.0,147.0,157.0,159.0,143.0,152.0,157.0,141.0,...,148.0,140.0,127.0,149.0,139.0,127.0,154.0,146.0,133.0,0
2,127.0,162.0,190.0,133.0,167.0,194.0,130.0,165.0,193.0,132.0,...,28.0,33.0,39.0,37.0,44.0,50.0,46.0,50.0,61.0,0
3,150.0,163.0,180.0,145.0,162.0,178.0,143.0,160.0,176.0,146.0,...,30.0,33.0,40.0,19.0,24.0,30.0,28.0,28.0,36.0,0
4,221.0,212.0,203.0,221.0,212.0,203.0,222.0,214.0,203.0,222.0,...,134.0,151.0,161.0,144.0,162.0,174.0,139.0,155.0,170.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,184.0,196.0,194.0,187.0,198.0,194.0,187.0,198.0,194.0,184.0,...,69.0,86.0,94.0,70.0,95.0,102.0,67.0,86.0,101.0,1
2496,104.0,160.0,195.0,152.0,236.0,255.0,145.0,234.0,255.0,153.0,...,44.0,108.0,152.0,14.0,81.0,124.0,32.0,96.0,140.0,0
2497,134.0,103.0,74.0,131.0,102.0,68.0,115.0,81.0,43.0,83.0,...,128.0,160.0,181.0,107.0,139.0,160.0,111.0,147.0,171.0,0
2498,112.0,183.0,229.0,107.0,185.0,231.0,109.0,190.0,235.0,111.0,...,37.0,112.0,170.0,40.0,112.0,171.0,14.0,83.0,142.0,1
2499,177.0,196.0,203.0,175.0,193.0,203.0,162.0,186.0,196.0,161.0,...,17.0,13.0,4.0,5.0,3.0,6.0,68.0,64.0,53.0,0

In [12]:
test_set

,0,1,2,3,4,5,6,7,8,9,...,12279,12280,12281,12282,12283,12284,12285,12286,12287,label
0,209.0,221.0,233.0,105.0,122.0,142.0,118.0,136.0,160.0,105.0,...,43.0,65.0,76.0,40.0,62.0,76.0,42.0,64.0,77.0,1
1,146.0,165.0,180.0,93.0,112.0,127.0,171.0,180.0,185.0,214.0,...,118.0,112.0,98.0,135.0,131.0,120.0,145.0,138.0,130.0,0
2,155.0,178.0,209.0,146.0,173.0,203.0,158.0,191.0,222.0,158.0,...,59.0,66.0,72.0,66.0,73.0,79.0,43.0,46.0,55.0,0
3,125.0,163.0,210.0,124.0,165.0,211.0,125.0,166.0,212.0,123.0,...,25.0,30.0,36.0,4.0,9.0,15.0,11.0,15.0,24.0,1
4,33.0,59.0,82.0,33.0,59.0,82.0,127.0,153.0,178.0,198.0,...,36.0,97.0,126.0,66.0,123.0,150.0,70.0,122.0,146.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,199.0,209.0,208.0,197.0,207.0,206.0,199.0,210.0,206.0,199.0,...,116.0,129.0,145.0,106.0,130.0,142.0,72.0,90.0,110.0,1
396,111.0,126.0,95.0,104.0,119.0,96.0,72.0,87.0,66.0,76.0,...,217.0,214.0,205.0,222.0,219.0,210.0,213.0,209.0,200.0,1
397,244.0,243.0,249.0,242.0,241.0,246.0,241.0,240.0,245.0,235.0,...,128.0,127.0,135.0,115.0,112.0,121.0,135.0,134.0,142.0,0
398,150.0,168.0,182.0,190.0,199.0,206.0,193.0,198.0,202.0,193.0,...,128.0,124.0,123.0,120.0,119.0,125.0,71.0,69.0,74.0,0
399,5.0,3.0,6.0,5.0,4.0,9.0,6.0,4.0,7.0,7.0,...,18.0,16.0,17.0,18.0,18.0,20.0,15.0,13.0,14.0,0

In [13]:
train_set.to_csv('train_set.csv')
test_set.to_csv('test_set.csv')